.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;    
}

.header-content-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    cursor: pointer;
}

.header-image {
    height: 50px;
    width: auto;
    margin-right: 5px;
}

.header-text{
    font-size: 25px;
    color: aliceblue;
}

.loading-image-container {
    width: 150px; 
    height: 150px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}

.loading-image {
    width: 100%;
    height: 100%;
    animation: rotate 2s linear infinite;
}

.loading-failure {
    font-size: 20px;
    color: aliceblue;     
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.d-none {
    display: none !important;
}

.content-middle {
  margin: 0 10% 150px 10%;
  display: flex;
  flex-direction: column;
}

.poke-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 35px;
   
}

.card-container {
    width: 250px;
    background-color: rgb(61, 96, 107);
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(00, 00, 00, 0.5);
    transition: 350ms;
}

.card-container:hover {
    box-shadow: 20px 10px 10px rgba(00, 00, 00, 0.5);
    transform: translateY(-5px);
}

.number-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;    
}

.poke-number {
    margin: 10px 0 10px 0;
    font-size: 20px;
    margin-left: 10px;
}

.poke-name {
    font-size: 20px;
    margin-right: 15px;
}

.container-poke-image {
    background-color: green;
    text-align: center;
}

.poke-image {
    height: 150px;
    width: auto;
    max-width: 180px;
    margin-top: 30px;
}

.type-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;      
}

.image-typ{
    width: 85px;
    margin: 10px 3px 10px 3px;
}

.load-more-container {
    display: flex;
    justify-content: center;
}

.load-button {
    margin-bottom: 200px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-color: rgb(70, 131, 149);
    color: aliceblue;
    font-size: 18px;
}

.back-button-container {
    display: flex;
    justify-content: center;
    z-index: 100;  
    cursor: pointer;
}

.back-button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: rgb(70, 131, 149);
    color: aliceblue;
    font-size: 18px;
}

.no-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}

.search-field{
    padding: 0;
    border-style: solid;
    border-color: rgb(30, 46, 50);
    border-width: 4px;
    padding-top: 8px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-block: 0;
    padding-inline: 0;
    padding-left: 5px;    
}

textarea, input {
    outline: none; 
}

.lupe {
    width: 25px;
    height: auto;
    cursor: pointer;
    background-color: rgb(30, 46, 50);
    padding: 4px 3px 4px 3px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.no-results-text {
    font-size: 35px;
    color: aliceblue;
}

@media (max-width: 450px){
    .search-field{
        width: 150px;
    }    
}

@media (max-width: 400px) {
    .header-image {
        height: 25px;
    }

    .header-text{
        font-size: 15px;
    }

    .lupe {
        width: 18px;
    }
    
    .search-field{
        width: 100px;
    }    
}