.overlay-box{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.overlay-content-box {
    width: 350px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-out-left {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
}

.overlaypicture-box {
    text-align: center;
    position: relative;    
    background-image: url('../assets/image/pokeball-transparent-white.svg');
    background-position: 150% 150%;
    background-size: contain;
    background-repeat:no-repeat;
    background-size: 54%;
}

.poke-image-overlay {
    margin-top: 10px;
    height: 250px;
    width: 280px;  
    z-index: 1000;  
}

.overlay-number-name {
    background-color: rgb(30, 46, 50);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;   
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.overlay-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    background-color: rgb(30, 46, 50);
}

.close-button {
    margin-right: 10px;
    color: rgb(30, 46, 50);
    font-weight: bold;
    padding: 5px 8px 5px 8px ;
    border-radius: 50%;
    background-color: rgb(70, 131, 149);
    cursor: pointer;
}

.close-button:active {
    transform: translate(4%, 4%);
}

.overlay-stats-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    background-color: rgb(61, 96, 107);     
}

.overlay-stats-categories-name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    cursor: pointer;   
}

.overlay-stats-categories-name:hover {
    border-bottom: 2px;
    border-color: aliceblue;
    border-bottom-style: solid;    
}

.active-tab {
    border-bottom: 3px solid red;  
    pointer-events: none;  
}

.overlay-stats-categories-border {
    width: 1px;
    background-color: rgb(30, 46, 50);
}

.overlay-stats {
    height: 250px;
    background-color: rgb(58, 78, 83);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.overlay-stats-general {
    display: flex;
    align-items: baseline;
    color: aliceblue;
    text-align: left;
}

.overlay-stats-general-table {
    margin: 20px 10px 0 20px;    
}

.overlay-stats-general-table-row {
    font-weight: normal;   
    vertical-align: top;
    max-width: 190px;
}

.overlay-stats-general-table-row-left {
    font-weight: normal;   
    vertical-align: top;
}

.overlay-stats-stats {
    display: flex;
    justify-content: start;
    align-items: baseline;
    color: aliceblue;
    text-align: left;
}

.overlay-stats-stats-table {
    margin: 20px 0 0 20px ;    
}

.container-arrows-right-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}

.close-button-bottom {
    height: 55px;
    width: auto;
}

.close-button-bottom:active {
    transform: translate(4%, 4%);
}

.arrows-left-right {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.arrows {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.arrows:active {
    transform: translate(4%, 4%);
}
  
.previousButton {
    -webkit-mask-image: url('arrow-left.png');
    mask-image: url('arrow-left.png');
    width: 60px;
    height: auto;
    cursor: pointer;
}


.overlay-evolution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.overlay-evolution-arrow {
    width: 30px;
}

.progress-bar {
    appearance: none; 
    width: 150px;
    height: 10px;
    border-radius: 15px;
    margin-left: 5px;
    background: rgb(247, 244, 244); 
}

.progress-bar::-webkit-progress-value {
    background: linear-gradient(90deg, #ff0000, #ff9900); 
    border-radius: 15px;
}

.progress-bar::-moz-progress-bar {
    background: linear-gradient(90deg, #ff0000, #ff9900);
    border-radius: 15px;
}

@media (max-width: 400px) {
    .overlay-content-box {
        width: 270px;
    }

    .poke-image-overlay {
        margin-top: 10px;
        width: 140px;
        height: 130px;
    }

    .close-button {
        padding: 3px 5px 3px 5px ;
    }

    .overlaypicture-box {
        background-position: 124% 167%;
        background-size: 41%;
    }

    .overlay-stats {
        height: 220px;
    }

    .overlay-stats-general-table-row {
        font-weight: normal;
        font-size: 14px;
        max-width: 150px;        
    }

    .overlay-stats-general-table-row-left {
        font-weight: normal;   
        vertical-align: top;
        font-size: 14px;
        width: 94px;
    }    

    .evolution-image{
        width: 75px;
        height: auto;
    }

    .progress-bar {
        width: 80px;
        margin-left: 5px;        
    }

    .arrows {
        width: 30px;
        height: auto;
    }

    .close-button-bottom {
        height: 35px;
        width: auto;
    }
}

