/* titillium-web-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/titillium-web-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    scroll-behavior: smooth;
    
  }

body {
    margin: 0;
    font-family: 'Titillium Web';
    background-color: rgb(30, 46, 50);
   
}

.content-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widescreen {
    max-width: 1920px;
    margin: auto;
}

.header {
    background-color: rgb(70, 131, 149);
    width: 100%;
}

.footer {
    background-color: rgb(70, 131, 149);
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.grass {
    background-image: url('/assets/image/Battrio_Grass_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.poison {
    background-image: url('/assets/image/Battrio_Poison_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.fire {
    background-image: url('/assets/image/Battrio_Fire_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.water {
    background-image: url('/assets/image/Battrio_Water_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.bug {
    background-image: url('/assets/image/Battrio_Bug_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.bug {
    background-image: url('/assets/image/Battrio_Bug_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.flying {
    background-image: url('/assets/image/Battrio_Flying_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.normal {
    background-image: url('/assets/image/Battrio_Normal_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.ground {
    background-image: url('/assets/image/Battrio_Ground_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.electric {
    background-image: url('/assets/image/Battrio_Electric_type.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}

.fairy {
    background-image: url('/assets/image/Fairy_icon_HOME3.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 30px;
    width: 30px;
    margin: 10px;
}


